.SubTitle
{
  position: relative;
  color: rgb(70,70,70); 
  top:10px;  
  text-align:center; 
  font-size:28px;   
  display: inline;
  margin:0px; 
}

h3
{
  color: rgb(70,70,70);   
  text-align:center; 
  font-size:28px;   
}

.AboutCyprusProfileLabelInfo
{
    color: rgb(80,80,80); 
    font-size:medium;
    margin-left: 20px;
    margin-right: 20px;
    top: 65px;
    font-weight:bold;
    text-align:justify;
    position:relative;
}
/*
     FILE ARCHIVED ON 04:59:46 Dec 23, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:40:10 Jul 04, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.915
  exclusion.robots: 0.283
  exclusion.robots.policy: 0.267
  esindex: 0.017
  cdx.remote: 9.161
  LoadShardBlock: 317.975 (3)
  PetaboxLoader3.resolve: 264.108 (4)
  PetaboxLoader3.datanode: 118.709 (4)
  load_resource: 112.513
*/