.Title
{
  margin-left:80px;
  margin-right:80px; 
  text-align:center;
  color: rgb(70,70,70); 
}

.Description
{
  margin-left:80px;
  margin-right:80px; 
  text-align:justify;
  color: rgb(80,80,80); 
}

.Note
{
  font-weight:bold;  
  color: rgb(80,80,80);  
}

.List
{
  margin-left:80px;
  margin-right:80px; 
  text-align:justify;   
  color: rgb(80,80,80);  
}

/*
     FILE ARCHIVED ON 05:23:34 Dec 23, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:41:28 Jul 04, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.714
  exclusion.robots: 0.217
  exclusion.robots.policy: 0.205
  esindex: 0.01
  cdx.remote: 6.677
  LoadShardBlock: 305.16 (3)
  PetaboxLoader3.datanode: 52.21 (4)
  PetaboxLoader3.resolve: 1156.436 (2)
  load_resource: 934.271
*/