.SubTitle
{
  position: relative;
  color: rgb(70,70,70); 
  top:10px;  
  text-align:center; 
  font-size:25px;  
  display: inline;
  margin:0px;  
}

h3
{
  color: rgb(70,70,70);   
  text-align:center; 
  font-size:28px;   
}

.ContactUsProfileLabelInfo
{
    color: rgb(80,80,80); 
    font-size:medium;
    margin-left: 20px;
    margin-right: 20px;
    top: 65px;
    font-weight:bold;
    text-align:justify;
    position:relative;
}
/*
     FILE ARCHIVED ON 05:19:20 Dec 23, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:46:06 Jul 04, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.109
  exclusion.robots: 0.307
  exclusion.robots.policy: 0.288
  esindex: 0.017
  cdx.remote: 8.374
  LoadShardBlock: 111.53 (3)
  PetaboxLoader3.datanode: 40.734 (4)
  PetaboxLoader3.resolve: 157.988 (3)
  load_resource: 113.174
*/