#OurSlogans
{

}

#MenuDivInr
{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:885px;
    height: 22px;
}

.MenuDivs
{
   position:relative;
   float:left;
   padding-left: 8px;
   padding-right: 8px;
   text-align:left;
   margin-right:2px;
   margin-left:2px;
   Border-Width: 2px;
   font-size:12px;
}

.MenuButtons
{
	text-decoration:none;
}

.MenuDivs a:link { font-size:13px; text-decoration:none; color: yellow ;  }
.MenuDivs a:visited { font-size:13px; text-decoration:none; color: yellow ; }
.MenuDivs a:hover { color: rgb(0,0,0);  }
#MenuDivs:hover { color: rgb(0,0,0);  }



.HeaderLogoImage
{
  margin-top: -15px;
  margin-left: 15px;
  width: 58px;
  height: 109px;
  position: absolute;
}

.HeaderLogoText1
{
	font-size:40px;
	color: rgb(0,0,150);
    top: 10px;
    left: 190px;
    height: 33px;
    width: 600px;
    font-weight:bold;
    position: absolute;
    font-family:Felix Titling;
}

.HeaderLogoText2
{
	font-size:32px;
	color: rgb(0,0,165);
    top: 48px;
    left: 230px;
    height: 33px;
    width: 512px;
    position: absolute;
    font-family: Felix Titling;
}

.HeaderESCImageLogo
{
   top: 3px;
   left: 780px;
   position: absolute;
   width: 70px;
   height: 107px;
   border-color: rgb(190,190,200);
   border-width: 2px;
   border-style: solid;
}


#Slogan1
{
   top: 110px;
   left: 200px;
   position: absolute;
   width: 600px;
   height: 40px;
   display: none;
   color: rgb(0,105,0);
   font-family:Britannic Bold;
   font-size: 16px;

}

#Slogan2
{
   top: 110px;
   left: 200px;
   position: absolute;
   width: 600px;
   height: 40px;
   display: none;
   color: rgb(0,105,0);
   font-family:Britannic Bold;
   font-size: 16px;
}

#Slogan3
{
   top: 110px;
   left: 200px;
   position: absolute;
   width: 600px;
   height: 40px;
   display: none;
   color: rgb(0,105,0);
   font-family:Britannic Bold;
   font-size: 16px;
}


    html, body {background:rgb(220,220,190);  }

    form {display: block;}

    #Main {position: absolute; background:rgb(235,235,235);width:900px;margin-left: -450px; left: 50%;border-color: Black; border-width: 1px; border-style: solid;}
    #TopPanel {position: relative;  width: 900px; height: 109px;border-color: Black; border-width: 0px; border-style: solid; z-index: 2;}
    #AnimDiv { position: relative;  width: 900px; height: 205px;top:74px;border-color: Black; border-width: 0px; border-style: solid;z-index: 1;}

    #SlideShowPanel
    {position: relative;
     top: 10px;
     margin-left: 6px;
     margin-right: 6px;
     width: 846px;
     height: 200px;
     border-color: Black;
     border-width: 1px;
     border-style: solid;}

    #MenuDiv
    {position: relative; color:rgb(0,0,0); z-index: 3;background-image: url('../contentimages/menubackground.jpg');text-align:center;
     margin-left: 0px;
     margin-right: 0px;
     text-align:left;
     top: 12px;
     width:900px;
     height: 22px;
     padding: 0px;}

    #ContentPanel
    {position:relative;
     margin-left: auto;
     margin-right: auto;
     top: 10px;
     width: 850px;}

    #BottomFooter {position: relative;margin-top:15px;margin-left: 2px;}

    .Img1 {display: inline;position: absolute; margin-top:2px;z-index:1;
           width: 900px; height: 200px;}

    .Img2 {display: inline; position: absolute; margin-top:2px; z-index:2;
           width: 900px; height: 200px; }


    .Img3 {display: inline;width: 896px; height: 215px;text-align: center;}
    .Img4 {display: block;position: absolute; left: 10px;top: 0px; width: 65px; height: 108px;}


#LogoAnimation
{
	width:200px;
	height:200px;
	float:right;
}

#FooterText
{
   margin-left: 25px;
   width: 700px;
   height: 25px;
   margin-top: -24px;
   color: Yellow;
   font-family:Batang;
   font-weight: bolder;
   font-size: 12px;

}

.pics
{
  width: 900px; height: 200px;
}



.EnFlag
{
	border-color: Black;
	border-width: 1px;
	border-style: solid;
	margin-left: 630px;
	margin-top: 1px;
	width: 20px;
	height: 13px;
}

.OtherFlags
{
   border-color: Black;
   border-width: 1px;
   border-style: solid;
   margin-left: 4px;
   margin-top: 1px;
   width:20px;
   height:13px;
}

#LanguageLinks
{
  position:relative;
  top:-175px;
  z-index: 10;
  width:183px;

}

.LanguageLinksColor
{
   color:Yellow;
   font-size: 11px;
   width:48px;
}

.Russian
{
  position:relative;
  float:left;
  width:45px;
  left:5px;
  top:-2px;
}

.Latvian
{
   width: 40px;
   position: relative;
   float:left;
   left:2px;
   top:-2px;
}

.German
{
  width:40px;
  position:relative;
  float:left;
  left:5px;
  top:-2px;
}

.French
{
   width:40px;
   position:relative;
   float:left;
   left: 12px;
   top:-2px;
}


/*
     FILE ARCHIVED ON 13:01:30 Dec 12, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:39:36 Jul 04, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.922
  exclusion.robots: 0.096
  exclusion.robots.policy: 0.082
  esindex: 0.013
  cdx.remote: 8.313
  LoadShardBlock: 277.348 (3)
  PetaboxLoader3.datanode: 67.246 (4)
  PetaboxLoader3.resolve: 365.842 (3)
  load_resource: 165.683
*/
