    
#boxes {  
   display:none;       
}  

.cursor {  cursor: hand;}
  
  
#close
{
  cursor: hand;    
}

#close:hover
{
   cursor: hand;  
}

/*
     FILE ARCHIVED ON 05:26:56 Dec 23, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:46:33 Jul 04, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.897
  exclusion.robots: 0.255
  exclusion.robots.policy: 0.241
  esindex: 0.012
  cdx.remote: 7.096
  LoadShardBlock: 243.13 (3)
  PetaboxLoader3.datanode: 132.986 (4)
  PetaboxLoader3.resolve: 488.191 (2)
  load_resource: 417.928
*/