@charset "utf-8";
/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#fff9cc;
		color:#391287;
}

#elc_logo {
	background:url(/../otherimages/esc_logo.jpg) no-repeat right bottom;
	height:120px;
}
#lce_logo {
	background:url(/../otherimages/lce-logo.jpg) no-repeat 20px bottom;
	height:120px;
}


#header_graphic {
	background:url(/../otherimages/header.jpg) no-repeat 19px top;
	height:350px;
}
#header_graphic_fr {
	background:url(/../otherimages/header_fr.jpg) no-repeat 19px top;
		height:350px;
}


#text_main a, #text_right a {
	paddding:0px;
	margin:0px;
}

.bold {
	font-weight:800;
}

#text_main {
	padding-top:20px;
}

#text_main p, #text_main h1, #text_main h2, #text_main h3, #text_main ul, #text_main li{
	padding-left:30px;
	padding-right:40px;
}

#text_right p {
	padding-right:30px;
}

#text_footer{
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
}
#text_footer a {
	text-decoration:none;
	color:#036;
}


p#links a {
	text-decoration:none;
	display:block;
	height:20px;
}
p#links a img {
	vertical-align:middle;
}

ul {
	padding-left:10px;
}

a img {
	border:0px;
}

img {

}

ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

}

li {
	list-style-position:inside;
	padding-left:0px;
	margin-left:-20px;
}

h1 {
	color:#016f2f;
}

#text_right h3 {
	color:#016f2f;
}


/*
     FILE ARCHIVED ON 05:10:24 Dec 23, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:59:12 Jul 04, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.528
  exclusion.robots: 0.953
  exclusion.robots.policy: 0.942
  esindex: 0.011
  cdx.remote: 6.039
  LoadShardBlock: 123.24 (3)
  PetaboxLoader3.datanode: 84.265 (4)
  PetaboxLoader3.resolve: 112.555 (2)
  load_resource: 93.797
*/
